# VUnit with package support (VUnit/vunit#1221), not yet in a release
vunit_hdl @ git+https://github.com/VUnit/vunit.git@2d2e21c6422c12992318f04c41d200fd3b671a22
# The Python bridge, not yet on PyPI
vunit-python-bridge @ git+https://github.com/VUnit/vunit-python-bridge.git@8e23a341472d4d47d6a3cf57e8e8410fb6a8001b
numpy
